.treatment {
  padding-bottom: 100px;
  .text_lg {
    margin-bottom: 20px;
  }
}

.treatment-description {
  padding-bottom: 165px;

  ul {
    color: #46BA00;
    font-weight: 500;
    font-size: 26px;
    padding-left: 0;
    li{
      &:before{
        top: 16px;
      }
    }
  }

  &__item {
    display: flex;
    padding-bottom: 66px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    width: 50%;
    font-size: 37px;
    padding-right: 21%;
  }

  &__content {
    width: 50%;
  }
}