.btn-round_back{
  position: fixed;
  right: 100px;
  bottom: 30%;

  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}