@keyframes flying {
  0% {
    transform: translate(0, 0) rotate(0deg);

  }
  10% {
    transform: translate(20px, 50px) rotate(36deg);
  }
  20% {
    transform: translate(-30px, 10px) rotate(72deg);
  }
  30% {
    transform: translate(10px, 60px) rotate(108deg);
  }
  40% {
    transform: translate(50px, 00px) rotate(142deg);
  }
  50% {
    transform: translate(-10px, -40px) rotate(178deg);
  }
  60% {
    transform: translate(-40px, 20px) rotate(214deg);
  }
  70% {
    transform: translate(30px, -30px) rotate(250deg);
  }
  80% {
    transform: translate(0px, -60px) rotate(286deg);
  }
  90% {
    transform: translate(40px, 10px) rotate(322deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

//@keyframes flying {
//  0% {
//    transform: translate(0, 0) rotate(-5deg)
//  }
//  10% {
//    transform: translate(20px, 50px) rotate(5deg)
//  }
//  20% {
//    transform: translate(-30px, 10px) rotate(-5deg)
//  }
//  30% {
//    transform: translate(10px, 60px) rotate(5deg);
//  }
//  40% {
//    transform: translate(50px, 00px) rotate(-5deg);
//  }
//  50% {
//    transform: translate(-10px, -40px) rotate(5deg);
//  }
//  60% {
//    transform: translate(-40px, 20px) rotate(-5deg);
//  }
//  70% {
//    transform: translate(30px, -30px) rotate(5deg);
//  }
//  80% {
//    transform: translate(0px, -60px) rotate(-5deg);
//  }
//  90% {
//    transform: translate(40px, 10px) rotate(5deg);
//  }
//  100% {
//    transform: translate(0, 0) rotate(-5deg);
//  }
//}
.diseases__thumb:hover{
  .diseases__img{
    transform-origin: 0 50%;
    animation:  flying (random(20)+10)+s ease-in-out (random(100)/-15)+s infinite;

    &_2 {
      animation:  flying (random(50)+10)+s ease-in-out (random(160)/-15)+s infinite;
    }

    &_3 {
      animation:  flying (random(30)-45)+s ease-in-out (random(130)/-15)+s infinite;
    }

  }
}



