.application {
  .section-intro {
    padding-bottom: 80px;

    &__header {
      width: 40%;
      margin-bottom: 63px;
      float: left;
    }

    &__wrap-img {
      position: relative;
      padding-top: 60%;
      width: 60%;
      float: right;
      margin-bottom: 50px;
    }

    &__img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &__text {
      max-width: 710px;
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }

    &__footer {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-bottom: 30px;

      .btn_main {
        position: relative;
        margin: 0 15px;

        &:first-child {
          margin-left: 0;
        }

        &:first-child:before {
          position: absolute;
          content: '';
          display: block;
          width: 2px;
          height: 30px;
          top: 50%;
          right: -17px;
          transform: translateY(-50%);
          background-color: #cfcfcf;
        }

        &:last-child {
          margin: 0;
        }
      }
    }

    .big-text {
      font-weight: 600;
      font-size: 77px;
      margin-bottom: 0;
      line-height: .8;
    }

    .sub-title {
      font-weight: 600;
      font-size: 25px;
      line-height: 1;
      color: #b1b1b1;
    }
  }

  .advantages {
    display: block;
    width: 40%;
    margin: 0;

    &__item {
      display: flex;
      align-items: center;
      text-align: left;
      max-width: 374px;
    }

    &__icon {
      width: 91px;
      height: 91px;
      flex-shrink: 0;
    }

    &__text {
      padding: 0 25px;
    }
  }

}