.page-disease{
  padding-top: 137px;
  .heading_xxl{
    padding-top: 67px;
    margin-bottom: 18px;
  }
  .diseases__thumb{
    float: right;
    opacity: 1;
    background: mistyrose;
  }
  article{
    p{

    }
  }
}