.specialists {
  .section-intro {
    position: relative;
    background: linear-gradient(180deg, #ffffff -10%, #84EE45, #67D625 100%);
    min-height: 630px;
    overflow: hidden;

    &__inner {
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center bottom -13%;
      background-size: contain;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .heading_xs {
      max-width: 566px;
      padding-top: 60px;
    }
  }

  &__video-block {
    padding-top: 30px;

    .desktop:after {
      display: none;
    }

    .part_right {
      position: relative;
      max-width: 826px;
      width: 70%;
    }

    .part_left {
      width: 30%;
    }

    .author {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 80px;
    }

    .heading_xs {
      font-weight: 600;
    }

    .desktop {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      min-height: 530px;
    }
  }


  .compound {
    font-size: 10px;
    line-height: 1.6;
    color: #656565;
    padding-top: 170px;
  }
}