.lang-switch {
  position: relative;
  width: 50px;
  padding: 0 3px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  &__current {
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    &:after {
      content: '';
      display: block;
      margin-left: 3px;
      margin-right: -9px;
      border-style: solid;
      border-width: 3px 3px 0 3px;
      border-color: #000000 transparent
    }
  }
  &__dropdown {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    padding: 8px 3px 4px;
    background-color: #f4f4f4;
    left: 0;
    z-index: 11;
  }
  &__link {
    display: block;
    padding: 4px 0;
    line-height: 1;
    transition: .4s;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      font-weight: 700;
    }
    &.active {
      font-weight: 700;
    }
  }
}