.assess-pain {
  padding-top: 180px;
  background-color: #f3f5f8;
  border-radius: 80px;
  background-image: url(../assets/img/bg-section.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 100%;
  min-height: 1044px;

  .block-info__text {
    display: none;

    &.active {
      display: block;
    }
  }

  .heading {
    margin-bottom: 16px;
  }

  .section__text {
    max-width: 985px;
    text-align: center;
    margin: 0 auto 60px;
  }

  .emoji-range {
    width: 100%;
    max-width: 1010px;
    margin: 0 auto 60px;
    padding-top: 150px;
    padding-bottom: 115px;
  }

  .block-info {
    max-width: 700px;
    padding: 15px 24px 15px 68px;
    text-align: center;

    &:before {
      left: 24px;
    }
  }
}

.emotion {
  position: absolute;
  top: -49px;
  left: 50%;
  font-size: 36px;
  height: 117px;
  width: 117px;
  transform: translate(-50%, -100%);

  .icon-down-em {
    position: absolute;
    left: 50%;
    display: block;
    width: 18px;
    height: 21px;
    bottom: -30px;
    transform: translateX(-50%);
  }

  path {
    fill: currentColor;
  }

  &-item {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: .35s;
    line-height: 1;
    background: currentColor;
    z-index: 1;

    &.active {
      opacity: 1;
    }
  }
}


.range-slider {
  position: relative;
  cursor: pointer;

  input {
    display: block;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    height: 63px;
    padding: 0;

    appearance: none;

    position: relative;
    opacity: 0;
    z-index: 5;
  }

  &__label {
    position: absolute;
    width: max-content;
    bottom: -75px;

    &-text {
      background-color: #ffffff;
      border: 1px solid currentColor;
      border-radius: 5px;
      font-weight: 700;
      font-size: 20px;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      padding: 12px;
      display: none;
      color: currentColor;

      &.active {
        display: block;
      }
    }
  }

  &__value {
    color: #475056;
  }

  &__track {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 53px;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
    clip-path: polygon(98% 0%, 100% 50%, 98% 100%, 0 100%, 0 0%);
    z-index: 1;

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 21px;
      height: 67px;
      right: 0;
      top: 50%;
      background: #e8e7e7;
      transform: translateY(-50%);
    }

    div {
      position: absolute;
      z-index: 1;
    }

    &_progress {
      top: 1px;
      bottom: 1px;
      left: 1px;
      right: 20px;
      background: linear-gradient(90deg, #57AE3F 0%, #F8E519 37.5%, #F9B810 69.27%, #EC5021 100%);
    }

    &_bg {
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      background: #e8e7e7;
      box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.08);
    }
  }

  &__handle {
    position: absolute;
    top: 0;
    left: 0;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    background-image: url(../assets/img/emoticon/range-hendler.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #56AE3F;
    box-shadow: 0 0 0 10px currentColor, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    z-index: 2;

    &_1 {
      color: #B5CE2A;
    }

    &_2 {
      color: #D7DA22;
    }

    &_3 {
      color: #FACE16;
    }

    &_4 {
      color: #F7A414;
    }

    &_5 {
      color: #EF621F;
    }
  }
}

