<!--Tabs-->
<div class="tabs">
    <div class="tabs__nav">
        <a href="#tab1" class="tabs__nav-link active">вкладка 1</a>
        <a href="#tab2" class="tabs__nav-link">вкладка 2</a>
        <a href="#tab3" class="tabs__nav-link">вкладка 3</a>
        <a href="#tab4" class="tabs__nav-link">вкладка 4</a>
        <a href="#tab5" class="tabs__nav-link">вкладка 5</a>
    </div>
    <div class="tabs__content">
        <div id="tab1" class="tabs__content-item active">1</div>
        <div id="tab2" class="tabs__content-item">2</div>
        <div id="tab3" class="tabs__content-item">3</div>
        <div id="tab4" class="tabs__content-item">4</div>
        <div id="tab5" class="tabs__content-item">5</div>
    </div>
</div>