.burger {
  display: none;
  width: 80px;
  background-color: transparent;
  border: none;
  margin-left: 17px;

  .line {
    display: block;
    width: 100%;
    background-color: #999999;
    height: 3px;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  color: #000000;
  padding: 20px 0;
  background-color: #fff;
  z-index: 1000;

  &__logo,
  &__logo-site {
    display: block;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__logo-site {
    width: 124px;
  }

  &__logo {
    width: 71px;
  }

  &__lang-toggle {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@include respond-to($lg) {

  .burger {
    display: block !important;
  }
  .header__nav {
    padding-top: 60px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 320px;
    max-height: 100%;
    overflow-y: auto;
    text-align: left;
    transition: transform .5s;
    transform: translateX(-100%);
    z-index: 999;

    .btn-close {
      display: block !important;
    }
  }
}


.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .3;
  z-index: 500;
}

