.tabs {
  width: 100%;
  margin-top: 150px;

  &__nav {
    display: flex;
    justify-content: center;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }

    &-link {
      margin: 0 25px;
      cursor: pointer;

      &.active {
        color: red;
      }
    }
  }

  &__content {
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    background: greenyellow;

  }
  &__content-item{

      position: absolute;
      top: 0;
      width: 100%;
      opacity: 0;
      z-index: 1;

      align-items: center;
      font-size: 75px;

      &.active {
        position: relative;
        opacity: 1;
        transition: opacity .5s ease-in;
        z-index: 2;
      }
    }
}